<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prosaist</title>
</head>
<body>

<div class="navbar" id="navbar">
  <a href="{% url 'index' %}">Home</a>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Sign-up</a>
  <a href="{% url 'entity' %}">Add Entity</a>
  <a href="{% url 'status' %}">Add Status</a>
  <a href="{% url 'category' %}">Add Category</a>
  <a href="{% url 'event' %}">Add Event</a>
</div>
{% block content %}{% endblock %}

</body>
</html>