<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"/>
    <title>Prosaist</title>
</head>
<body>

<div class="navbar" id="navbar">
    {% if username %}
        {% include 'userbar.html' %}
    {% else %}
        {% include 'loginbar.html' %}
    {% endif %}
</div>
{% block content %}{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>