<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}"/>
    <title>Prosaist</title>
</head>
<body>

<div class="navbar" id="navbar">
    {% if request.user.username %}
        <ul class="projectbar">
            <li class="dropdown" class="userName">
                <a class="userName">{{ request.user.username }}</a>
            </li>
            <li class="dropdown">
                <a class="userBar" class="dropbtn" href="{% url 'logout' %}">Log-out</a>
            </li>
            <li class="dropdown">
                <a class="userBar" class="dropbtn" href="{% url 'userprojects' username=request.user.username %}">Projects</a>
            </li>
        </ul>
        {% if projectname %}
            {% include 'userbar.html' %}
        {% else %}
            {% include 'displaylinks.html' %}
        {% endif %}
    {% else %}
        {% include 'loginbar.html' %}
    {% endif %}
</div>
{% block content %}{% endblock %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>