{% block userbar %}
    <a class="user" href="{% url 'entity' username=request.user.username projectname=projectname %}">Add Entity</a>
    <a class="user" href="{% url 'status' username=request.user.username projectname=projectname %}">Add Status</a>
    <a class="user" href="{% url 'category' username=request.user.username projectname=projectname %}">Add Category</a>
    <a class="user" href="{% url 'event' username=request.user.username projectname=projectname %}">Add Event</a>
    <br>
    <a class="user" href="{% url 'category_conflict' username=request.user.username projectname=projectname %}">Add
        Category Conflict</a>
    <a class="user" href="{% url 'period' username=request.user.username projectname=projectname %}">Add Period</a>
    <a class="user" href="{% url 'affectedby' username=request.user.username projectname=projectname %}">Add Affected
        By</a>
    <a class="user" href="{% url 'entity_relation' username=request.user.username projectname=projectname %}">Add Entity
        Relation</a>
    <a class="user" href="{% url 'status_conflict' username=request.user.username projectname=projectname %}">Add Status
        Conflict</a>
    <br>
    <a class="user" href="{% url 'display_entity' username=request.user.username projectname=projectname %}">Show
        Entities</a>
    <a class="user" href="{% url 'display_status' username=request.user.username projectname=projectname %}">Show
        Statuses</a>
    <a class="user" href="{% url 'display_category' username=request.user.username projectname=projectname %}">Show
        Categories</a>
    <a class="user" href="{% url 'display_event' username=request.user.username projectname=projectname %}">Show
        Events</a>
    <br>
    <a class="user"
       href="{% url 'display_category_conflicts' username=request.user.username projectname=projectname %}">Show
        Category Conflicts</a>
    <a class="user" href="{% url 'display_period' username=request.user.username projectname=projectname %}">Show
        Periods</a>
    <a class="user" href="{% url 'display_affectedby' username=request.user.username projectname=projectname %}">Show
        Affected By</a>
    <a class="user" href="{% url 'display_entity_relation' username=request.user.username projectname=projectname %}">Show
        Entities Relations</a>
    <a class="user" href="{% url 'display_status_conflict' username=request.user.username projectname=projectname %}">Show
        Status Conflicts</a>
{% endblock %}