{% block userbar %}
    <a class="user" href="{% url 'entity' username=username projectname=projectname %}">Add Entity</a>
    <a class="user" href="{% url 'status' username=username projectname=projectname %}">Add Status</a>
    <a class="user" href="{% url 'category' username=username projectname=projectname %}">Add Category</a>
    <a class="user" href="{% url 'event' username=username projectname=projectname %}">Add Event</a>
    <br>
    <a class="user" href="{% url 'category_conflict' username=username projectname=projectname %}">Add Category Conflict</a>
    <a class="user" href="{% url 'period' username=username projectname=projectname %}">Add Period</a>
    <a class="user" href="{% url 'affectedby' username=username projectname=projectname %}">Add Affected By</a>
    <a class="user" href="{% url 'entity_relation' username=username projectname=projectname %}">Add Entity Relation</a>
    <a class="user" href="{% url 'status_conflict' username=username projectname=projectname %}">Add Status Conflict</a>
    <br>
    <a class="user" href="{% url 'display_entity' username=username projectname=projectname %}">Show Entities</a>
    <a class="user" href="{% url 'display_status' username=username projectname=projectname %}">Show Statuses</a>
    <a class="user" href="{% url 'display_category' username=username projectname=projectname %}">Show Categories</a>
    <a class="user" href="{% url 'display_event' username=username projectname=projectname %}">Show Events</a>
    <br>
    <a class="user" href="{% url 'display_category_conflicts' username=username projectname=projectname %}">Show Category Conflicts</a>
    <a class="user" href="{% url 'display_period' username=username projectname=projectname %}">Show Periods</a>
    <a class="user" href="{% url 'display_affectedby' username=username projectname=projectname %}">Show Affected By</a>
    <a class="user" href="{% url 'display_entity_relation' username=username projectname=projectname %}">Show Entities Relations</a>
    <a class="user" href="{% url 'display_status_conflict' username=username projectname=projectname %}">Show Status Conflicts</a>
{% endblock %}